script#user_template(type="text/html")
	li.pa-sm-h.pa-sm-v
		img(class!="<%=idleClass%>",
			data-toggle="tooltip",
			data-placement="top",
			title!="<%=name%>",
			src!="http://www.gravatar.com/avatar/<%=md5%>?s=30")