doctype html
html
    head
        title Chaunli
        meta(name="viewport", content="initial-scale = 1.0,maximum-scale = 1.0")
        link(rel="stylesheet", href="//bootswatch.com/yeti/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/style.css")
        block imports
    body
        block content
        .container
            .row.ma-lg-v
                .col-lg-12.col-sm-12.col-xs-12
                    p.ma-no-v
                        | © 2014 - 2014
                        a(href="https://github.com/Hellslicer/Chaunli")
                            |  Chaunli
